/* Estilo para o modal */
.modal-content {
  text-align: center;
  border-radius: 0; /* Remove o arredondamento das bordas */
  min-width: 338px;
}

/* Estilo para o input */
.form-group {
  margin-bottom: 1rem; /* Adiciona espaço entre os elementos do formulário */
}
